<launch>
<!-- Change the address to the actual name of the robotyou are using.  -->
<machine name="turtlebot" address="miranda" env-loader="/opt/ros/indigo/env.sh"user="turtlebot" password="turtlebot" />
<arg name="marker_size" default="19.6" />
<arg name="max_new_marker_error" default="0.08" />
<arg name="max_track_error" default="0.2" />
<arg name="cam_image_topic"default="/camera/depth_registered/points" />
<arg name="cam_info_topic" default="/camera/rgb/camera_info" />
<arg name="output_frame" default="/camera_rgb_optical_frame" />
<node machine="turtlebot" name="ar_track_alvar" pkg="ar_track_alvar"type="individualMarkers" respawn="false"args="$(arg marker_size) $(arg max_new_marker_error)$(arg max_track_error) $(arg cam_image_topic)$(arg cam_info_topic) $(arg output_frame)" />
<!-- You do not need to use this republisher, but it may
improve the performance of your ball tracker, because
it will compress the video images before transmitting over
the wireless.  If you use it, change the image topic
which your ball detector subscribes to to "/local image".
The compression may subtly affect the color of the ball,
4
so you may have to play with your filter values a little. -->
<node name="republish" type="republish" pkg="image_transport"args="compressed in:=/camera/rgb/image_color raw out:=/local_image" />
<node name="ball_detector" pkg="ballfinder" type="BallFinder.py" />
<node name="soccer_player" pkg="puppy"
type="Puppy.py" output="screen" />
</launch>
